# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
@EXPLICIT
https://repo.anaconda.com/pkgs/main/win-64/conda-env-2.6.0-1.conda
https://repo.anaconda.com/pkgs/main/win-64/_tflow_select-2.3.0-mkl.conda
https://repo.anaconda.com/pkgs/main/win-64/blas-1.0-mkl.conda
https://repo.anaconda.com/pkgs/main/win-64/ca-certificates-2019.8.28-0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/icc_rt-2019.0.0-h0cc432a_1.conda
https://repo.anaconda.com/pkgs/main/win-64/intel-openmp-2019.4-245.conda
https://repo.anaconda.com/pkgs/msys2/win-64/msys2-conda-epoch-20160418-1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pandoc-2.2.3.2-0.conda
https://repo.anaconda.com/pkgs/main/win-64/vs2015_runtime-14.16.27012-hf0eaf9b_0.conda
https://repo.anaconda.com/pkgs/main/win-64/winpty-0.4.3-4.conda
https://repo.anaconda.com/pkgs/main/win-64/libmklml-2019.0.5-0.conda
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-gmp-6.1.0-2.tar.bz2
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-libwinpthread-git-5.0.0.4634.697f757-2.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/mkl-2019.4-245.conda
https://repo.anaconda.com/pkgs/main/win-64/vc-14.1-h0510ff6_4.conda
https://repo.anaconda.com/pkgs/main/win-64/bzip2-1.0.8-he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/cudatoolkit-10.1.243-h74a9793_0.conda
https://repo.anaconda.com/pkgs/main/win-64/icu-58.2-ha66f8fd_1.conda
https://repo.anaconda.com/pkgs/main/win-64/jpeg-9b-hb83a4c4_2.conda
https://repo.anaconda.com/pkgs/main/win-64/libiconv-1.15-h1df5818_7.conda
https://repo.anaconda.com/pkgs/main/win-64/liblief-0.9.0-ha925a31_2.conda
https://repo.anaconda.com/pkgs/main/win-64/libsodium-1.0.16-h9d3ae62_0.conda
https://repo.anaconda.com/pkgs/main/win-64/lz4-c-1.8.1.2-h2fa13f4_0.conda
https://repo.anaconda.com/pkgs/main/win-64/lzo-2.10-h6df0209_2.conda
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-gcc-libs-core-5.3.0-7.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/openssl-1.1.1d-he774522_2.conda
https://repo.anaconda.com/pkgs/main/win-64/snappy-1.1.7-h777316e_3.conda
https://repo.anaconda.com/pkgs/main/win-64/sqlite-3.30.0-he774522_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/tbb-2019.4-h74a9793_0.conda
https://repo.anaconda.com/pkgs/main/win-64/tk-8.6.8-hfa6e2cd_0.conda
https://repo.anaconda.com/pkgs/main/win-64/xz-5.2.4-h2fa13f4_4.conda
https://repo.anaconda.com/pkgs/main/win-64/yaml-0.1.7-hc54c509_2.conda
https://repo.anaconda.com/pkgs/main/win-64/zlib-1.2.11-h62dcd97_3.conda
https://repo.anaconda.com/pkgs/main/win-64/hdf5-1.10.4-h7ebc959_0.conda
https://repo.anaconda.com/pkgs/main/win-64/krb5-1.16.1-hc04afaa_7.conda
https://repo.anaconda.com/pkgs/main/win-64/libpng-1.6.37-h2a8f88b_0.conda
https://repo.anaconda.com/pkgs/main/win-64/libprotobuf-3.11.2-h7bd577a_0.conda
https://repo.anaconda.com/pkgs/main/win-64/libssh2-1.8.2-h7a1dbc1_0.conda
https://repo.anaconda.com/pkgs/main/win-64/libxml2-2.9.9-h464c3ec_0.conda
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-gcc-libgfortran-5.3.0-6.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/python-3.7.4-h5263a28_0.conda
https://repo.anaconda.com/pkgs/main/win-64/zeromq-4.3.1-h33f27b4_3.conda
https://repo.anaconda.com/pkgs/main/win-64/zstd-1.3.7-h508b16e_0.conda
https://repo.anaconda.com/pkgs/main/win-64/blosc-1.16.3-h7bd577a_0.conda
https://repo.anaconda.com/pkgs/main/win-64/freetype-2.9.1-ha9979f8_1.conda
https://repo.anaconda.com/pkgs/main/win-64/libarchive-3.3.3-h0643e63_5.conda
https://repo.anaconda.com/pkgs/main/win-64/libcurl-7.65.3-h2a8f88b_0.conda
https://repo.anaconda.com/pkgs/main/win-64/libtiff-4.0.10-hb898794_2.conda
https://repo.anaconda.com/pkgs/main/win-64/libxslt-1.1.33-h579f668_0.conda
https://repo.anaconda.com/pkgs/msys2/win-64/m2w64-gcc-libs-5.3.0-7.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pywin32-223-py37hfa6e2cd_1.conda
https://repo.anaconda.com/pkgs/main/win-64/qt-5.9.7-vc14h73c81de_0.conda
https://repo.anaconda.com/pkgs/main/win-64/curl-7.65.3-h2a8f88b_0.conda
https://repo.anaconda.com/pkgs/main/win-64/menuinst-1.4.16-py37he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/alabaster-0.7.12-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/asn1crypto-1.0.1-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/astor-0.8.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/atomicwrites-1.3.0-py37_1.conda
https://repo.anaconda.com/pkgs/main/win-64/backcall-0.1.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/bitarray-1.0.1-py37he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/boto-2.49.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/certifi-2019.9.11-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/chardet-3.0.4-py37_1003.conda
https://repo.anaconda.com/pkgs/main/win-64/click-7.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/colorama-0.4.1-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/comtypes-1.1.7-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/console_shortcut-0.1.1-3.conda
https://repo.anaconda.com/pkgs/main/win-64/decorator-4.4.0-py37_1.conda
https://repo.anaconda.com/pkgs/main/win-64/docutils-0.15.2-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/entrypoints-0.3-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/et_xmlfile-1.0.1-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/fastcache-1.1.0-py37he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/future-0.18.2-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/gast-0.2.2-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/greenlet-0.4.15-py37hfa6e2cd_0.conda
https://repo.anaconda.com/pkgs/main/win-64/idna-2.8-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/imagesize-1.1.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/ipython_genutils-0.2.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/itsdangerous-1.1.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/joblib-0.13.2-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/kiwisolver-1.1.0-py37ha925a31_0.conda
https://repo.anaconda.com/pkgs/main/win-64/lazy-object-proxy-1.4.2-py37he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/llvmlite-0.29.0-py37ha925a31_0.conda
https://repo.anaconda.com/pkgs/main/win-64/locket-0.2.0-py37_1.conda
https://repo.anaconda.com/pkgs/main/win-64/lxml-4.4.1-py37h1350720_0.conda
https://repo.anaconda.com/pkgs/main/win-64/markupsafe-1.1.1-py37he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/mccabe-0.6.1-py37_1.conda
https://repo.anaconda.com/pkgs/main/win-64/mistune-0.8.4-py37he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/more-itertools-7.2.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/mpmath-1.1.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/msgpack-python-0.6.1-py37h74a9793_1.conda
https://repo.anaconda.com/pkgs/main/win-64/ninja-1.9.0-py37h74a9793_0.conda
https://repo.anaconda.com/pkgs/main/win-64/olefile-0.46-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pandocfilters-1.4.2-py37_1.conda
https://repo.anaconda.com/pkgs/main/win-64/pep8-1.7.1-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pickleshare-0.7.5-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pkginfo-1.5.0.1-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/ply-3.11-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/powershell_shortcut-0.0.1-2.conda
https://repo.anaconda.com/pkgs/main/win-64/psutil-5.6.3-py37he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/py-1.8.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/py-lief-0.9.0-py37ha925a31_2.conda
https://repo.anaconda.com/pkgs/main/win-64/pycodestyle-2.5.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pycosat-0.6.3-py37hfa6e2cd_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pycparser-2.19-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pycrypto-2.6.1-py37hfa6e2cd_9.conda
https://repo.anaconda.com/pkgs/main/win-64/pycurl-7.43.0.3-py37h7a1dbc1_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pyflakes-2.1.1-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pyodbc-4.0.27-py37ha925a31_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pyreadline-2.1-py37_1.conda
https://repo.anaconda.com/pkgs/main/win-64/python-libarchive-c-2.8-py37_13.conda
https://repo.anaconda.com/pkgs/main/win-64/pywinpty-0.5.5-py37_1000.conda
https://repo.anaconda.com/pkgs/main/win-64/pyyaml-5.1.2-py37he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pyzmq-18.1.0-py37ha925a31_0.conda
https://repo.anaconda.com/pkgs/main/win-64/ruamel_yaml-0.15.46-py37hfa6e2cd_0.conda
https://repo.anaconda.com/pkgs/main/win-64/send2trash-1.5.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/simplegeneric-0.8.1-py37_2.conda
https://repo.anaconda.com/pkgs/main/win-64/sip-4.19.8-py37h6538335_0.conda
https://repo.anaconda.com/pkgs/main/win-64/six-1.12.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/sortedcontainers-2.1.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/soupsieve-1.9.3-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/sphinxcontrib-1.0-py37_1.conda
https://repo.anaconda.com/pkgs/main/win-64/sqlalchemy-1.3.9-py37he774522_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/termcolor-1.1.0-py37_1.conda
https://repo.anaconda.com/pkgs/main/win-64/testpath-0.4.2-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/tornado-6.0.3-py37he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/unicodecsv-0.14.1-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/wcwidth-0.1.7-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/webencodings-0.5.1-py37_1.conda
https://repo.anaconda.com/pkgs/main/win-64/win_inet_pton-1.1.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/win_unicode_console-0.5-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/wincertstore-0.2-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/wrapt-1.11.2-py37he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/xlrd-1.2.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/xlwt-1.3.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/absl-py-0.8.1-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/beautifulsoup4-4.8.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/cffi-1.12.3-py37h7a1dbc1_0.conda
https://repo.anaconda.com/pkgs/main/win-64/cycler-0.10.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/html5lib-1.0.1-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/keyring-18.0.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/mkl-service-2.3.0-py37hb782905_0.conda
https://repo.anaconda.com/pkgs/main/win-64/mock-3.0.5-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/multipledispatch-0.6.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/nltk-3.4.5-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pathlib2-2.3.5-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pillow-6.2.0-py37hdc69c19_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pyqt-5.9.2-py37h6538335_2.conda
https://repo.anaconda.com/pkgs/main/win-64/pyrsistent-0.15.4-py37he774522_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pysocks-1.7.1-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/python-dateutil-2.8.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/setuptools-41.4.0-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/singledispatch-3.4.0.3-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/sortedcollections-1.1.2-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/terminado-0.8.2-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/traitlets-4.3.3-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/xlwings-0.15.10-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/astroid-2.3.1-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/bleach-3.1.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/clyent-1.2.2-py37_1.conda
https://repo.anaconda.com/pkgs/main/win-64/cryptography-2.7-py37h7a1dbc1_0.conda
https://repo.anaconda.com/pkgs/main/win-64/cython-0.29.13-py37ha925a31_0.conda
https://repo.anaconda.com/pkgs/main/win-64/gevent-1.4.0-py37he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/grpcio-1.16.1-py37h351948d_1.conda
https://repo.anaconda.com/pkgs/main/win-64/isort-4.3.21-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/markdown-3.1.1-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/nose-1.3.7-py37_2.conda
https://repo.anaconda.com/pkgs/main/win-64/numpy-base-1.16.5-py37hc3f5095_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/protobuf-3.11.2-py37h33f27b4_0.conda
https://repo.anaconda.com/pkgs/main/win-64/sympy-1.4-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/wheel-0.33.6-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pip-19.2.3-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pylint-2.4.2-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pyopenssl-19.0.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/urllib3-1.24.2-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/requests-2.22.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/noarch/attrs-19.2.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/jsonschema-3.0.2-py37_0.conda
https://repo.anaconda.com/pkgs/main/noarch/backports-1.0-py_2.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/backports.os-0.1.1-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/backports.shutil_get_terminal_size-1.0.0-py37_2.conda
https://repo.anaconda.com/pkgs/main/win-64/get_terminal_size-1.0.0-h38e98db_0.conda
https://repo.anaconda.com/pkgs/main/noarch/backports.functools_lru_cache-1.6.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/backports.weakref-1.0.post1-py_1.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/backports.tempfile-1.0-py_1.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/cloudpickle-1.2.2-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/contextlib2-0.6.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/dask-core-2.5.2-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/defusedxml-0.6.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/filelock-3.0.12-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/fsspec-0.5.2-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/glob2-0.7-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/google-pasta-0.1.8-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/heapdict-1.0.1-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/jdcal-1.4.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/jinja2-2.10.3-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/json5-0.8.5-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/jupyter_core-4.5.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/jupyter_client-5.3.3-py37_1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/nbformat-4.4.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/noarch/networkx-2.3-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/openpyxl-3.0.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/parso-0.5.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/jedi-0.15.1-py37_0.conda
https://repo.anaconda.com/pkgs/main/noarch/prometheus_client-0.7.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/pygments-2.4.2-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/nbconvert-5.6.0-py37_1.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/prompt_toolkit-2.0.10-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/ipython-7.8.0-py37h39e3cac_0.conda
https://repo.anaconda.com/pkgs/main/win-64/ipykernel-5.1.2-py37h39e3cac_0.conda
https://repo.anaconda.com/pkgs/main/win-64/jupyter_console-6.0.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/notebook-6.0.1-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/spyder-kernels-0.5.2-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/widgetsnbextension-3.5.1-py37_0.conda
https://repo.anaconda.com/pkgs/main/noarch/ipywidgets-7.5.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/jupyterlab_server-1.0.6-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/jupyterlab-1.1.4-pyhf63ae98_0.conda
https://repo.anaconda.com/pkgs/main/win-64/_ipyw_jlab_nb_ext_conf-0.1.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pyparsing-2.4.2-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/packaging-19.2-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/pytz-2019.3-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/anaconda-client-1.7.2-py37_0.conda
https://repo.anaconda.com/pkgs/main/noarch/anaconda-project-0.8.3-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/babel-2.7.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/qtconsole-4.5.5-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/jupyter-1.0.0-py37_7.conda
https://repo.anaconda.com/pkgs/main/noarch/qtpy-1.9.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/anaconda-navigator-1.9.7-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/navigator-updater-0.2.1-py37_0.conda
https://repo.anaconda.com/pkgs/main/noarch/qtawesome-0.6.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/rope-0.14.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/snowballstemmer-2.0.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/sphinxcontrib-applehelp-1.0.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/sphinxcontrib-devhelp-1.0.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/sphinxcontrib-htmlhelp-1.0.2-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/sphinxcontrib-jsmath-1.0.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/sphinxcontrib-qthelp-1.0.2-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/sphinxcontrib-serializinghtml-1.1.3-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/sphinx-2.2.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/numpydoc-0.9.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/spyder-3.3.6-py37_0.conda
https://repo.anaconda.com/pkgs/main/noarch/sphinxcontrib-websupport-1.1.2-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/tblib-1.4.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/toolz-0.10.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/cytoolz-0.10.0-py37he774522_0.conda
https://repo.anaconda.com/pkgs/main/noarch/partd-1.0.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/tqdm-4.36.1-py_0.conda
https://repo.anaconda.com/pkgs/main/win-64/conda-package-handling-1.6.0-py37h62dcd97_0.conda
https://repo.anaconda.com/pkgs/main/win-64/conda-4.8.1-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/conda-build-3.18.9-py37_3.conda
https://repo.anaconda.com/pkgs/main/noarch/conda-verify-3.4.2-py_1.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/werkzeug-0.16.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/xlsxwriter-1.2.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/zict-1.0.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/zipp-0.6.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/distributed-2.5.2-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/flask-1.1.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/importlib_metadata-0.23-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/path.py-12.0.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pluggy-0.13.0-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pytest-5.2.1-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/pytest-openfiles-0.4.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pytest-remotedata-0.3.2-py37_0.conda
https://repo.anaconda.com/pkgs/main/noarch/opt_einsum-3.1.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/pytest-doctestplus-0.4.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/tensorboard-2.0.0-pyhb38c66f_1.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/tensorflow-estimator-2.0.0-pyh2649769_0.conda
https://repo.anaconda.com/pkgs/main/win-64/bokeh-1.3.4-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/bottleneck-1.2.1-py37h452e1ab_1.conda
https://repo.anaconda.com/pkgs/main/win-64/h5py-2.9.0-py37h5e291fa_0.conda
https://repo.anaconda.com/pkgs/main/noarch/keras-applications-1.0.8-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/imageio-2.6.0-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/matplotlib-3.1.1-py37hc8f65d3_0.conda
https://repo.anaconda.com/pkgs/main/win-64/mkl_fft-1.0.14-py37h14836fe_0.conda
https://repo.anaconda.com/pkgs/main/win-64/mkl_random-1.1.0-py37h675688f_0.conda
https://repo.anaconda.com/pkgs/main/win-64/numpy-1.16.5-py37h19fb1c0_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/numba-0.45.1-py37hf9181ef_0.conda
https://repo.anaconda.com/pkgs/main/win-64/numexpr-2.7.0-py37hdce8814_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pandas-0.25.1-py37ha925a31_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pytest-arraydiff-0.3-py37h39e3cac_0.conda
https://conda.anaconda.org/pytorch/win-64/pytorch-1.4.0-py3.7_cuda101_cudnn7_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pywavelets-1.0.3-py37h8c2d366_1.conda
https://repo.anaconda.com/pkgs/main/win-64/scipy-1.3.1-py37h29ff71c_0.conda
https://repo.anaconda.com/pkgs/main/win-64/bkcharts-0.2-py37_0.conda
https://repo.anaconda.com/pkgs/main/noarch/dask-2.5.2-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/keras-preprocessing-1.1.0-py_1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/patsy-0.5.1-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pytables-3.5.2-py37h1da0976_1.conda
https://repo.anaconda.com/pkgs/main/win-64/pytest-astropy-0.5.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/scikit-image-0.15.0-py37ha925a31_0.conda
https://repo.anaconda.com/pkgs/main/win-64/scikit-learn-0.21.3-py37h6288b17_0.conda
https://conda.anaconda.org/pytorch/win-64/torchvision-0.5.0-py37_cu101.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/astropy-3.2.1-py37he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/statsmodels-0.10.1-py37h8c2d366_0.conda
https://repo.anaconda.com/pkgs/main/win-64/tensorflow-base-2.0.0-mkl_py37hd1d5974_0.conda
https://repo.anaconda.com/pkgs/main/win-64/seaborn-0.9.0-py37_0.conda
https://repo.anaconda.com/pkgs/main/win-64/tensorflow-2.0.0-mkl_py37he1bbcac_0.conda
https://repo.anaconda.com/pkgs/main/win-64/anaconda-2019.10-py37_0.tar.bz2
